<div class="banner" style="background-image: url(https://i0.wp.com/penthouse.com/wp-content/uploads/sites/9/2022/08/filmNFT.jpg?fit=1320%2C585&ssl=1); background-size: cover;">
  <div class="container">
    <h1>Keep your<strong> favorites movies</strong> in <strong>da pocket</strong>!</h1>
    <p>Change your life and bookmark movies.</p>
    <a class="btn btn-flat" href="#">Bookmark now</a>
  </div>
</div>
